# int8
bitsandbytes==0.37.1
accelerate==0.17.1

# chatglm
protobuf>=3.19.5,<3.20.1
transformers==4.27.1
icetk
cpm_kernels==1.0.11
torch>=1.13.0

# 
datasets==2.10.1
git+https://github.com/mymusise/peft.git@54b6ce2c0e19eed7fbba1f101c278adde64952ab